{% extends '_layout.twig' %}
{% block title %}Dustcloud &rsaquo; Device {{ device.did }}{% endblock %}
{% block head %}
    <script type="text/javascript">
    var did = "{{ device.did }}";
    document.addEventListener("DOMContentLoaded", function() {
        startLastContactAjax();
        startMapAjax();
        initMapDrag();
        initControls();
    });
    </script>
{% endblock %}
{% block content %}
<a class="button" href="index.php" title="Back">&#8592;</a>
<a class="button" href="showlog.php?did={{ device.did }}" title="received message log">msg log</a>
<a class="button" href="showcmdlog.php?did={{ device.did }}" title="sent message log">cmd log</a>
<h2>Device {{ device.name }} (did: {{ device.did }})</h2>
Last contact: <span class="last_contact" data-did="{{ device.did }}">...</span>
<div class="toggle">
    <input type="checkbox" id="toggle_details"><label for="toggle_details"><h3>Details</h3></label>
    <div class="content">
        <table>
            {% for key,value in device %}
                {% if value is not empty and key != 'id' %}
                    <tr><th>{{ key }}</th><td>{{ value }}</td></tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
<div class="toggle">
    <input type="checkbox" id="toggle_controls" checked="checked"><label for="toggle_controls"><h3>Controls</h3></label>
    <div class="content controls">
        <div class="mapwrapper">
            <img class="map">
        </div>
        <div class="controlswrapper">
            <select name="cmd" class="cmd">
                <option value="_custom">custom command</option>
                <option value="miIO.info">miIO Info</option>
                <option value="find_me">find me</option>
                <option value="app_charge">go back to dock</option>
                <option value="app_start">start cleaning</option>
                <option value="app_stop">stop cleaning</option>
                <option value="app_pause">pause cleaning</option>
                <option value="app_spot">start spot cleaning</option>
                <option value="get_status">get status</option>
                <option value="get_consumable">get consumables</option>
                <option value="get_clean_summary">get clean summary</option>
                <option value="get_clean_record">get clean record</option>
                <option value="get_timer">get timers</option>
                <option value="get_dnd_timer">get DND timer</option>
                <option value="get_custom_mode">get custom mode</option>
                <option value="get_map_v1">get map v1</option>
                <option value="set_custom_mode">set custom mode</option>
            </select>
            <button>Go</button>
            <div id="loader" class="loader" style="visibility: hidden"></div>
            <div class="inputs _custom">
                <table>
                    <tr><th>Command</th><td><input type="text" name="cmd" placeholder="get_clean_record"></td></tr>
                    <tr><th>Parameters</th><td><input type="text" name="params" placeholder="[1534567890]"></td></tr>
                </table>
            </div>
            <div class="inputs get_clean_record">
                <table>
                    <tr><th>ID</th><td><input type="number" name="id" step="1" maxlength="10" placeholder="1534567890"></td></tr>
                </table>
            </div>
            <div class="inputs set_custom_mode">
                <table>
                    <tr><th>fan power</th><td><input type="number" name="power" min="0" max="100" placeholder="77">%</td></tr>
                </table>
            </div>
            <input type="checkbox" id="shortpre" checked="checked">
            <label for="shortpre"><pre>{{ status.data }}</pre></label>
            <div class="result"></div>
            <br class="clearboth">
        </div>
    </div>
</div>
{% endblock %}